<!DOCTYPE html>
<html lang="en">

<head>
  <title>第6节：v-model指令</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../assets/js/vue.js"></script>
</head>

<body>
  <h1>第6节：v-model指令</h1>

  <hr>

  <div id="app">
    <p>原始文本信息：{{message}}</p>
    <h3>文本框</h3>
    <p>v-model:<input type="text" v-model="message"></p>
    <p>v-model.lazy:<input type="text" v-model.lazy="message"></p>
    <p>v-model.number:<input type="text" v-model.number="message"></p>
    <p>v-model.trim:<input type="text" v-model.trim="message"></p>
    <hr>
    <h3>文本域</h3>
    <textarea cols="30" rows="10" v-model="message"></textarea>
    <hr>
    <h3>多选框绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{ isTrue }}</label>
    <hr>
    <h3>多选框绑定</h3>
    <p>
      <input type="checkbox" id="milk" value="milk" v-model="wev_names">
      <label for="milk">milk</label>
      <input type="checkbox" id="Milk" value="Milk" v-model="wev_names">
      <label for="Milk">Milk</label>
      <input type="checkbox" id="papa" value="papa" v-model="wev_names">
      <label for="papa">papa</label>
    </p>
    <p>{{wev_names}}</p>
    
    <hr>
    <h3>单选框绑定</h3>
    <p>
      <input type="radio" id="one" value="男" v-model="sex">
      <label for="one">男</label>
      <input type="radio" id="two" value="女" v-model="sex">
      <label for="two">女</label>
      <p>你选择的性别是：{{sex}}</p>
    </p>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: 'Hello World',
        isTrue: true,
        wev_names:[],
        sex:"男"
      }
    })
  </script>
</body>


</html>